<!doctype html>
<html>
<head>
	<meta charset="utf-8">
  	<title>tt.js</title>

</head>
<body tt="auto">

	<style>
  		body{
  			margin:30px;
  			font-size:20px;
  		}
  		h1{
  			border-bottom:30px solid rgb(3,197,101);
  		}

  		h2{
  			margin:50px 0 50px 0;
  		}

  		h3{
  			margin:50px 0 5px 0;
  		}
  	</style>
	
	<h1>tt.js -_- t-tJavaScript</h1>
	<div>
		<a href="">关于</a> 
		|
		<a href="">例子</a> 
		| 
		<a href="">用法</a>  
		|  
		<a href="">github</a> 
		|
		<a href="">下载</a> 
	</div>
	


	<h2 id="#use">采用示例配置"<a href="ttconfig.js">ttconfig.js</a>"的一些例子</h2>





	<h3>1.arale日历</h3>
	<input type="text" placeholder="date" tt="arale/calendar">

	
	






	<h3>2.arale下拉框</h3>
	        
	<select name="city" tt="arale/select">
		<option value="value1">iphone</option>
		<option value="value2">ipad</option>
		<option value="value3">mac</option>
	</select>










	<h3>3.arale提示框</h3>
	<p>
		<u tt="arale/tip" content="tip content">this is a tip</u>
	</p>

	








	<h3>4.arale弹窗框</h3>
	<p>
		<button tt="arale/dialog" content="./iframe.html">open a dialog</button>
	</p>











	<h3>5.用户自定义hover效果</h3>
	<div tt="custome/hover">this is a custome example - custome/hover</div>









	<h3>6.mustache模板</h3>

	<script type="text" tt="data/like,tmpl/mustache">

		<ul>
			
			{{#list}}
			
				<li>{{name}} : {{like}}</li>
			
			{{/list}}
		
		</ul>

	</script>











	<h3>7.angular origin</h3>

	<div tt="data/like,angular/origin" id="a">

		<ul>
			<li ng-repeat="item in list">{{item.name}} : {{item.like}}
				 <input type="text" ng-model="item.like">
			</li>
		</ul>

	</div>










    <h2>业务组件</h2>

    <h3>8.table</h3>
   
    <table class="table table-striped table-hover" 
    	tt="data/easydata,table/easytable,angular/origin" table="
	    	ID(id),
	    	责任人(responsibleMan),
	    	处理时间(dealTime),
	    	一级类目(catOne),
	    	二级类目(catTwo),
	    	三级类目(catThree),
	    	案件号(caseNo)" 
	    url="list.json">

		<thead>
			<th nowrap="nowrap" ng-repeat="item in colsList track by $index">
				{{item}}
			</th>
		</thead>

		<tbody>
			<tr ng-repeat="item in list track by $index">
				<td nowrap="nowrap" ng-repeat="col in rowsList">
					{{item[col]}}
				</td>
			</tr>
		</tbody>

	</table>





</body>

<script src="tt.js"></script>
<script src="ttconfig.js"></script>
<script>
	ttconfig({

		"data/like":function(done) {

			var data = {
				list:[
					{
						name:"lucy",
						like:"iphone"
					},
					{
						name:"lily",
						like:"ipad"
					},
					{
						name:"jack",
						like:"mac"
					}
				]
				/*,
				p:function(){
					this.number = 100;
				}
				*/
			};
			done(data);
		},
		"custome/hover":function(done) {

			$(this).mouseenter(function() {
				$(this).css("background","yellow");
			}).mouseout(function() {
				$(this).css("background","white");
			});
			done();

		}
	});
</script>


<script>
tt(document.body,function(){
	
	tt($("#a")[0],function(s){
		
	});
});
</script>


</html>